
<link href="/Application/Sun/assets/css/custom.css" rel="stylesheet">
<?php if (isset($_SESSION['success_message'])): ?>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<?php echo $_SESSION['success_message'];unset($_SESSION['success_message']); ?>
	</div>
<?php endif; ?>
		<h1>已注册的用户列表</h1>
		<php>echo I('session');</php>
		<form method="post" class="form-inline table-form">
			<div class="form-group">
				<label for="id">编号：</label>
				<input type="text" class="form-control" name="id" id="id" placeholder="编号" value="<?php echo isset($_POST['id']) ? $_POST['id']:'';?>"/>
			</div>
			<div class="form-group">
				<label for="username">用户名：</label>
				<input type="text" name="username" id="username" class="form-control" value="<?php echo isset($_POST['username']) ? $_POST['username']:'';?>" placeholder="用户名" />
			</div>
			<div class="form-group">
				<label>性别：</label>
				<label class="radio-inline">
					<input type="radio" name="sex" <?php if (isset($_POST['sex']) && $_POST['sex'] == 'male'): ?>checked="checked"<?php endif; ?> value="male" /> 男
				</label>
				<label class="radio-inline">
					<input type="radio" name="sex" <?php if (isset($_POST['sex']) && $_POST['sex'] == 'female'): ?>checked="checked"<?php endif; ?> value="female" /> 女
				</label>
			</div>
			<button type="submit" class="btn btn-primary">
				 搜索
			</button>
		</form>
		<div class="table-responsive">
			<table cellspacing="0" class="table table-condensed table-hover table-bordered table-striped">
			<tr>
				<th >编号</th>
				<th>用户名</th>
				<th>性别</th>
				<th>手机</th>
				<th>固定电话</th>
				<th>邮箱</th>
				<th>地址</th>
				<th>状态</th>
				<th>推广员码</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
			<volist name="result_data" id="vo">
			<tr>
				<td>{$vo.id}</td>
				<td>{$vo.username}</td>
				<td>{$sex[$vo['sex']]}</td>
				<td>{$vo.mobile}</td>
				<td>{$vo.telephone}</td>
				<td>{$vo.email}</td>
				<td>{$vo.address}</td>
				<td>{$status[$vo['status']]}</td>
				<td>{$vo.personcode}</td>
				<td>{$vo.created}</td>
						<td>
							<div class="btn-group" role="group" aria-label="...">
								<a class="btn btn-primary" href="/Sun/Score/user_scores?id={$vo.id}&username={$vo.username}">
									 成绩
								</a>
								<?php if($vo['status']==2):?>
									<a href="javascript:void(0);" class="btn btn-warning change-status" data-id={$vo.id} data-status="1">
										 禁用
									</a>
								<?php else: ?>
									<a href="javascript:void(0);" class="btn btn-warning change-status" data-id={$vo.id} data-status="2">
										 启用
									</a>
								<?php endif;?>
								<a class="btn btn-warning" href="/Sun/User/edit_user?id={$vo.id}">
									 修改
								</a> 
								<a href="/Sun/User/delete_user?id={$vo.id}"  class="btn btn-danger delete-user" >
									 删除
								</a>
							</div>
						</td>
					</tr>
			</volist>
			</table>
		</div>
		<a href="/Sun/User/register" class="btn btn-primary">我要注册</a>
		<a href="/Sun/User/login" class="btn btn-primary">重新登录</a>
	</body>
	<script type="text/javascript" src="/Application/Sun/assets/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript">
		$(function(){
			
			$('.delete-user').click(function(){
				$.ajax({
					type : 'post',
					url : '/PHP/index.php?controller=User&action=delete_user',
					//async : true,
					
					data: { id : $(this).attr('data-id') },
					success : function(data){
						var data = JSON.parse(data);
						alert(data.message);
						if (0 == data.code) {
							window.location.reload();
						}

					}
				});
			});
			$('.change-status').click(function(){
				$.ajax({
					async : true,
					type : 'post',
					url : '/Sun/User/change_status',
					dataType : 'json',
					data : {id: $(this).attr('data-id'),status: $(this).attr('data-status')},
					success : function(data){
						//var data = JSON.parse(data);
						alert(data.message);
						if (0 == data.code){
							window.location.reload();
						}
					}
				});
			});
			$('.sex').dblclick(function (){
				if($(this).prop(checked)){
					$(this).prop(checked,false)
				}
			});
			
			
		});	
	</script>