@charset "utf-8";



@font-face {
  font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important;
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(css/index-new/fonts/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
  font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important;
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(css/index-new/fonts/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}

body{min-width:1200px;}
.index{margin:0; padding:0; font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important; margin:0 auto; color:#393939; background:#f6f6f6;}
img,ul,li,dd,dt,dl,div,p,input{margin:0px;border:none;padding:0px;margin:0 auto;  list-style:none;}
li{margin:0px;border:none;padding:0px;margin:0 auto;  list-style:none;}
a {text-decoration:none; color:#626262;}
a:hover {}
a img{border:none;}
.clear {clear:both}
ul, li {list-style:none;}
*{ margin:0; padding:0; font-size:15px;font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important;}
h1, h2, h3, h4, h5, h6 {font-size: 18px;font-weight: bold;line-height: 24px;text-align: left; font-weight:100;}
p, li {color: #626262;line-height: 24px;}
input{vertical-align:middle;font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important;}
select{vertical-align:middle;font-family:"微软雅黑", Tahoma, Arial;*font-family:"微软雅黑", Tahoma, Arial !important;}
.light il{overflow:visible;}

.sfc_header{position:fixed; top:0; z-index:99999; width:100%;}
.header_bj{background:#fff;-webkit-box-shadow:0 4px 0 rgba(0, 0, 0, 0.04);  -moz-box-shadow:0 4px 0 rgba(0, 0, 0, 0.04);  box-shadow:0 4px 0 rgba(0, 0, 0, 0.04); border-bottom:2px solid #eee;}
.sfc_header_bj{background:#fff; filter:alpha(opacity=50);  -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity: 0.4; width:100%; height:70px; }
.sfc_logo2{}
.sfc_headerm{ width:100%; position:absolute; top:0}
.sfc_header .top{width:1200px; height:70px; margin:0 auto;}
.sfc_header_bcg{
	width:100%;height:75px;position:absolute;background:white;top:0px;border-bottom:2px solid #bbb;display:none;

/*  background: url("../../../../images/index-new/hea_bac.jpg") no-repeat center;
  background-size: 100% 100%; opacity: .5;*/
}
.language a{ color:#ff6600; font-size:14px; }
.language span{padding:0 2px; color:#ff8100;}
.sfc_logo, .language, .sfc_logo2{float:left; padding:5px;}
.language{border-radius:3px; padding:1px 0px 1px 5px; float:right;}
.nav{float:right;}
.nav em{ text-align:right; color:#ff6600; font-size:24px; font-family:"时尚中黑简体";}
.Navigation{background:#ff6600; height:42px;}
.Navigation2{background:#ff6600; height:42px;}
.Navigation_m a, .Navigation_m2 a{padding:0 0px 0 40px; line-height:42px; font-weight:bold; font-size:16px; float:left; color:#ff6600}
.Navigation_m a:hover{color:#ff6600;}
.Navigation_m2 a:hover{color:#333;}
.light{margin-top:0px;}
.news{}
.news_top{cursor:pointer;position:absolute; z-index:9999; filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; background:#000; width:100%; height:35px;}
.news_top img{padding-left:10px;}
.new_list{overflow: hidden;cursor:pointer;position:absolute; z-index:9998; margin-top:0px; right:0px; width:350px;border-top-right-radius:10px;border-top-left-radius:10px;padding:0px 15px;height:0px; bottom:0px;}
.new_list li a{color:#fff; font-size:14px;}
.new_list li .new_written{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:260px;}
.new_list li .new_date{float:right; font-size:12px; color:#ccc;}
.new_list li span{float:left; line-height:35px;}
.news_topcon{position:absolute;}
.news_topcon h2{display:block;}
.new_list{cursor:pointer;position:absolute; z-index:9999;border-top-left-radius:10px;border-top-right-radius:10px; color:#fff}

.industry_top{cursor:pointer;position:absolute; z-index:9999; filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; background:#000; width:100%; height:35px;}
.industry_top img{padding-left:10px;}
.industry_list{overflow: hidden;cursor:pointer;position:absolute; z-index:9998; margin-top:0px; right:0px; width:350px;border-top-right-radius:10px;border-top-left-radius:10px;padding:0px 15px;height:0px; bottom:0px;}
.industry_list li a{color:#fff; font-size:14px;}
.industry_list li .industry_written{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:260px;}
.industry_list li .industry_date{float:right; font-size:12px; color:#ccc;}
.industry_list li span{float:left; line-height:35px;}


.activity_top{cursor:pointer;position:absolute; z-index:9999; filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; background:#000; width:100%; height:35px;}
.activity_top img{padding-left:10px;}
.activity_list{overflow: hidden;cursor:pointer;position:absolute; z-index:9998; margin-top:0px; right:0px; width:350px;border-top-right-radius:10px;border-top-left-radius:10px;padding:0px 15px;height:0px; bottom:0px;}
.activity_list li a{color:#fff; font-size:14px;}
.activity_list li .activity_written{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:260px;}
.activity_list li .activity_date{float:right; font-size:12px; color:#ccc;}
.activity_list li span{float:left; line-height:35px;}


.function{background:#f6f6f6;min-height:100px; height:auto!important; height:100px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#c8c8c8,direction=120,strength=4);-moz-box-shadow:1px 3px 3px #c8c8c8; -webkit-box-shadow:1px 3px 3px #c8c8c8;  box-shadow:1px 3px 3px #c8c8c8;  }
.function_change{background:#f6f6f6;min-height:100px; height:auto!important; height:100px;}
.function_m{width:1200px; margin:0 auto;}
.function_m a{color:#393939; font-size:18px;}
.export_m, .mainland{ width:1200px; margin:0 auto;}
.export_m h2, .mainland h2{text-align:center; padding-top:45px; font-size:20px;}
.content_left{width:350px; float:left; margin-right:60px;}
.slide_three{margin-right:0;}
.int{background:#fff; border:5px solid #e4e3e3; border-radius:10px; float:left; margin:30px 0 10px 0; box-sizing:border-box; cursor:pointer;}
.int p{padding:0px 25px 35px 25px;}
.int:hover{ border:5px solid #ff9d11;}
.int h3{color:#ff6600; text-align:center; padding:10px 0; font-size:18px;}
.int p{font-size:16px; line-height:35px;}
.int_img{ background:url(../../../../images/index-new/express.png) no-repeat; width:46px; height:45px; cursor:pointer; background-position:bottom; display:block;}
.int_imghover{background:url(../../../../images/index-new/express_hover.png) no-repeat; width:46px; height:45px;cursor:pointer;background-position:bottom; display:block;}
.four_logo{padding-top:25px;}
.four_logo img{border:1px solid #ccc; margin-right:20px;}
.slide_one, .slide_two, .slide_three{text-align:center;}
.Overseas{width:350px; float:left; line-height:35px; margin-top:35px; margin-left:75px; cursor:pointer;}
.Overseas h3{color:#ff6600; margin:15px 0 10px 0;}
.mainland p{font-size:16px; line-height:35px;}
.mainland h2{padding-top:20px;}
.Overseas_content{overflow:hidden; text-overflow:ellipsis; white-space:pre-wrap; height:180px;}
.Overseas_content a{font-size:16px; color:#393939;}
.Overseas_content a:hover{color:#ff6600;}
.Overseas_content .more:hover{background:#ccc;}
.export{padding-bottom:20px;}


.express_radio{ width:40px;}
.express_radio span img{cursor:pointer;}
.add_on{background:#fff;}
.add_on_content{width:1200px; margin:0 auto;}
.add_on_content h2{text-align:center; padding-top:45px; font-size:20px;}

##get-started .device-icon.cart::after{left:50%;margin-left:-42px;}
##get-started .device-icon.cart::after{background:url(../../images/index-new/add_on1.png) no-repeat;content:""; display:block; height:63px; width:56px; left:120px; top:-8px;}
##get-started .device-icon.api::after{background:url(../../images/index-new/add_on2.png) no-repeat;content:""; display:block; height:63px; width:56px; left:78px; top:-8px;}
##get-started .device-icon.Supplies::after{background:url(../../images/index-new/add_on3.png) no-repeat;content:""; display:block; height:63px; width:56px; left:82px; top:-8px;}
##get-started .device-icon.pay::after{background:url(../../images/index-new/payoneer.png) no-repeat;content:""; display:block; height:63px; width:339px; left:60px; top:-8px;}
##get-started .device-icon::after{ position:absolute;transition-duration:0.2s, 0.2s;transition-property:transform, left;transition-timing-function:ease-out, ease-out}
##get-started .device-icon{border:1px solid #ccc;border-radius:12px; height:52px; margin-bottom:0.85em; margin-top:1em;}
##get-started .device-icon a{display:block;height:100%;line-height:62px;opacity:0;overflow:hidden;text-align:center;text-indent:150px;transition:all 0.2s ease-out 0.2s}
##get-started .device-icon a .fa{ font-size:0.756rem;text-indent:4px;}
.pay, .Supplies, .api, .cart{border:1px solid #ccc;border-radius:12px; height:52px; margin-bottom:0.85em; margin-top:1em;}
.device-icon img{ margin-top:-5px; margin-left:60px;}
.fa{display:block;font-style:normal;font-weight:normal;line-height:1}
.Insurance{width:200px; float:left; padding-top:20px; margin-right:40px; cursor:pointer;}
.Insurance h3{padding:15px 0 10px; color:#ff6600; font-size:16px;}
.add_on p{font-size:16px; line-height:35px;}

.payoneer, .worldfirst{width:200px; float:left;}
.payoneer{margin-right:40px;}
.Insurance .Overseas_content{height:300px;}
.contact{    background: #000; opacity: .8; background-size:cover; width:100%; height:420px; background-position:center;}
.contact_content{width:1200px; margin:0 auto;}
.contact_content h3{font-size:18px; color:#fff;}
.Company{width:700px; float:left;}
.Company p{font-size:16px; color:#fff; line-height:35px; padding-top:25px;}
.aboutus{width:350px; float:right; margin-right:30px;}
.contact_content{padding-top:30px;}
.aboutus ul{padding-top:25px;}
.aboutus ul li{ height:52px;}
.aboutus .list{position: relative;height: 40px;}
.aboutus .list:hover{line-height:43px;}
.aboutus ul li a{color:#393939; padding-left:15px; font-size:18px; line-height:40px; display:block;}
.aboutus ul li a:hover{color:#ff7e00; line-height:42px;}
.arrow{font-size:20px; text-align:right; font-family:"时尚中黑简体"; float:right; margin-left:180px;}
.Company .more{ height:80px; width:80px; line-height:80px; color:#fff; margin-top:20px; text-align:center;position: relative;}
.Company .more a{font-size:18px; display:block; color:#fff;}

.help{margin-top:55px;}
.help_m{padding-bottom:45px; background:#fff;}
.help_one{width:270px; float:left; border:1px solid #ccc; border-radius:10px;}
##help_none .device-icon.guide::after{background:url(../../images/index-new/help_1.png) no-repeat;content:""; display:block; height:43px; width:43px; left:120px; top:-35px;}
##help_none .device-icon.problem::after{background:url(../../images/index-new/help_2.png) no-repeat;content:""; display:block; height:43px; width:48px; left:120px; top:-35px;}
##help_none .device-icon.download::after{background:url(../../images/index-new/help_3.png) no-repeat;content:""; display:block; height:43px; width:48px; left:120px; top:-35px;}
##help_none .device-icon.plan::after{background:url(../../images/index-new/help_4.png) no-repeat;content:""; display:block; height:43px; width:48px; left:120px; top:-35px;}
.problem, .guide, .download, .plan{position:absolute; margin-top:-20px; margin-left:60px;}
.help_one h3{padding-left:35px; font-size:16px;}
.help_one ul{ padding-top:15px;}
.help_one ul li{line-height:35px;}
.help_one ul li a{color:#393939; font-size:16px; display:block;padding:0 35px;}
.help_one ul li a:hover{ background:#f6f6f6;padding:0 35px;}
.help_list{margin-top:40px;}
.help_one{height:280px; margin-left:35px;box-sizing:border-box;background:#f6f6f6;}
.help_one:hover{filter:progid:DXImageTransform.Microsoft.Shadow(color=#e8e8e8,direction=120,strength=4);-webkit-box-shadow:1px 1px 3px #ccc;  
  -moz-box-shadow:1px 1px 3px #ccc;  
  box-shadow:1px 1px 3px #ccc;}
.Partner{background:url(../../images/index-new/Partner_bj.gif) center no-repeat; height:564px;}
.Partner_content{width:1200px; margin:0 auto; padding-top:45px;}
.Partner_content h2{font-size:24px; color:#fff; text-align:center;}
.Partner_content_m{padding-top:35px;}
.Partner_content_m ul li{width:236px; float:left; height:100px; overflow:hidden; background:#fff; border:1px solid #f0f0f0; text-align:center;vertical-align:middle}
.Partner_content_m ul li img{vertical-align:middle; padding-top:15px; width:160px;}




##help_none .device-icon::after{ position:absolute;transition-duration:0.2s, 0.2s;transition-property:transform, left;transition-timing-function:ease-out, ease-out}
##help_none .device-icon{border-radius:12px; height:52px; margin-bottom:0.85em; margin-top:1em; position:relative;}
##help_none .device-icon a{display:block;height:100%;line-height:62px;opacity:0;overflow:hidden;text-align:center;text-indent:150px;transition:all 0.2s ease-out 0.2s}
##help_none .device-icon a .fa{ font-size:0.756rem;text-indent:4px;}

/*包裹查询页*/
.type_cxmtr input{background:url(../../images/index-new/track_copy.gif) no-repeat; width:115px; height:30px; cursor:pointer;}
.Button input{ background:url(../../images/index-new/tarck.gif) no-repeat; width:73px; height:23px; line-height:23px;margin-bottom: 15px; cursor:pointer; font-size:14px; color:#fff; text-align:left; padding-left:10px;}
.tarck{background:url(../../images/index-new/tarck_ad.jpg) no-repeat center; height:375px;top:70px; position:relative;}
.tarck_mid{width:1200px; margin:0 auto; padding-top:70px; text-align:center;}
.tarck_midl{width:700px; float:left; padding-left:60px; text-align:left; line-height:35px;}
.tarck_midl p{padding-left:30px;}
.tarck_midl h2{color:#ff6600; padding:0 0 10px 0;}
.tarck_midlm ul li{padding:5px 15px 5px 0; width:120px; float:left; line-height:36px;}
.Button_l{color:#393939;}
.inuptsubmit{float:right;}
.type_bannerbg{background:url(../../images/chaxun/tarck_ad.jpg) no-repeat center; height:375px; position:relative;margin-top: 70px;}
.type_bannermbg{width:1200px; margin:0 auto;padding-top: 70px;}
.type_jgcxbg{padding:0px 0 0 15px;}
.type_bannermlbg{width:380px; float:right;}
.type_jgcxbg h2{height:37px; line-height:37px;}
.type_bannermlbg h2 span{color:#fff;}
.type_jgcxbgan input{background:url(../../../images/chaxun/cx_bganhover.gif) no-repeat; height:23px; width:73px; color:#fff; cursor:pointer; font-weight:bold; text-align:left; padding-left:15px; font-size:14px;float: right;}
.type_bannermrbg{width:768px; float:left; height:300px; padding-top:10px; *margin-top:15px !important;*margin-top:15px;}
.type_bannermrbgt{background:url(../../../images/chaxun/cx_bgtrt.gif) no-repeat; height:4px; width:668px;}
.type_bannermrbgm{width:668px; background:#f6dc6f;}
.type_bannermrbgf{background:url(../../../images/chaxun/cx_bgtrf.gif) no-repeat; height:4px;width:668px;}
.type_bannermrbgm{padding:10px 10px 5px 10px; *margin-top:-15px !important;*margin-top:0px}
.type_bannermrbgm h2{color:#ff6602;}
.type_bannermrbgmm ul li{width:110px; float:left; background:url(../../../images/chaxun/cx_bgtrmdian.gif) scroll 5px 10px no-repeat; padding-left:15px;}
.type_bannermrbgmm ul li a{font-size:12px;}
.type_bannermrbgmm ul li:hover{width:110px; float:left;background:url(../../../images/guojia_mdian.gif) scroll 5px 10px no-repeat;padding-left:15px;}
.type_bannermrbgmm ul li a:hover{ color:#ff6602}
.type_cxm{width:1200px; margin:30px auto 0; padding-bottom:20px;}
.type_cxm h2{padding-top:20px; height:35px;}
.type_cxmtl{float:left;}
.type_cxm h2 span{font-size:15px;}
.type_cxmtr{float:right;}
.type_cxmm{background: #f6f6f6 none repeat scroll 0 0;margin-bottom: 15px;padding: 8px;}
.type_cxmm table{border-collapse:collapse; width:100%; border:1px solid #dadada;}
.type_cxmm td{border:1px solid #dadada; height:45px; line-height:45px; text-align:center;}
.type_cxmmt td{background: #f2f2f2 none repeat scroll 0 0;font-weight: normal;line-height: 20px; height:45px; font-weight:bold; text-align:center;}
.type_cxmmf td{color:#ff6602;}
.type_cxmmm{color:#8a8989;}
.type_bgcxt{background:#ddd; margin-bottom:10px;}
.type_bgcxt ul{padding:10px;}
.type_bgcxt ul li{padding:3px;}
.tarck_mid{width:1200px; margin:0 auto; padding-top:70px; text-align:center;}
.tarck_midl{width:700px; float:left; padding-left:60px; text-align:left; line-height:35px;}
.tarck_midl p{padding-left:30px;color: #ffffff}
.tarck_midl h2{color:#ff6600; padding:0 0 10px 0;font-size: 18px;}
.tarck_midlm ul li{padding:5px 15px 5px 0; width:120px; float:left; line-height:36px;color: #ffffff}
.tarck_midlm ul li a{font-size:16px;color: #ffffff}

/*价格查询*/
.type_bannerjgcx{height:375px; background:url(../../images/chaxun/price_ad.jpg) no-repeat center; height:375px; position:relative;margin-top: 70px;}
.type_bannermjgcx{width:1200px; margin:0 auto;padding-top: 60px;}
.type_jgcxjgcx{padding:0 0 0 25px;}
.type_jgcxjgcx ul li{height:38px;}
.price_midl{width:600px; float:left; padding-left:150px; text-align:left; line-height:35px;}
.price_midl p{padding-left:30px;color: #ffffff;}
.price_midlm{padding-top:25px; padding-left:30px;}
.price_midlm a{padding-left:20px;color: #ffffff;}
.restriction{width:200px; height:35px; background:url(../../images/chaxun/price_right.png) no-repeat; float:left;}
.type_bannermljgcx{width:408px; float:right;}
.type_bannermljgcx h2 span{color:#fff;}
.type_cxanjgcx input{ background:url(../../images/chaxun/login_radio.png) no-repeat; width:216px; height:35px; cursor:pointer;}
.type_cxanjgcx_en input{ background:url(../../images/type/hk_calculator_en.gif) no-repeat; width:56px; height:56px; cursor:pointer;}
.type_cxanjgcx_hk input{ background:url(../../images/type/hk_calculator.gif) no-repeat; width:56px; height:56px; cursor:pointer;}
.type_bannermrjgcx{width:610px; float:left; padding-top:40px;}
.type_bannermrjgcxl{width:400px; float:left;}
.type_bannermrjgcxlf{background:url(../../images/type/type_bljgcx2.gif) no-repeat; width:175px; height:31px; text-align:center; line-height:31px; margin-top:20px;}
.type_bannermrjgcxlf:hover{background:url(../../images/type/type_bljgcx2hover.gif) no-repeat;width:175px; height:31px;}
.type_bannermrjgcxlf a{color:#415601; font-size:12px;}
.type_bannermrjgcxlf a:hover{color:#fff;}
.type_bannermrjgcxr{width:200px; float:left; padding-top:15px;}
.type_bannermrjgcxrt{background:url(../../images/type/type_bljgcx3.gif) no-repeat; width:147px; height:31px; text-align:center; line-height:31px; margin-bottom:5px;}
.type_bannermrjgcxrt:hover{background:url(../../images/type/type_bljgcx3hover.gif) no-repeat; width:147px; height:31px;}
.type_bannermrjgcxrt a:hover, .type_bannermrjgcxrt a{color:#fff;}
.type_bannermrjgcxrf{margin-top:20px;}
.type_jgcxm{width:1200px; margin:0 auto; padding-bottom:20px;}
.type_jgcxmt{width:1200px; margin:0 auto; display:block;}
.type_jgcxmt span{float:left; margin: 0 3px}
.type_jgcxmtf{float:left; margin: 0 3px;}
.type_jgcxmtf span{padding:0 8px;}
.type_jgcxmtfl{color:#ff6602; font-weight:bold; background:url(../../images/index-new/cx_jgtbjjgsjhover.gif) scroll 18px 55px no-repeat; height:65px; font-weight:bold;}
.type_jgcxmtfr a{padding-left:3px; font-size:12px;}
.type_jgcxmtfr a:hover{color:#fff;}
.type_jgcxmm table{width:100%; border:1px solid #dadada; border-collapse:collapse;}
.type_jgcxmm td{border:1px solid #dadada; text-align:center;border: 1px solid #dadada;height: 45px;text-align: center;}
.type_jgcxmmt th{background: #f2f2f2 none repeat scroll 0 0;font-weight: normal;line-height: 20px;border: 1px solid #dadada;height: 45px;text-align: center;}
.type_jgcxmmtm td{line-height:45px; height:45px; font-size:14px; background:#fff;}
.type_jgcxmmtm td:hover, .type_jgcxmmtf td:hover{background:#feede2;}
.type_jgcxmmtm td a:hover, .type_jgcxmmtf td a:hover{ color:#ff6602;}
.type_jgcxmmtm td a, .type_jgcxmmtf td a{ color:#393939;}
.type_jgcxmmtf td{line-height:40px; height:40px; background:#f9f8f8}
.type_jgcxmm h2{color: #ff6602;height: 40px;line-height: 40px;padding-bottom: 10px; font-weight:normal;}
.type_jgcxmf{padding:20px 10px 0 10px; height:26px;}
.type_jgcxmfl{background:url(../../images/chaxun/cx_jgfsm.gif) no-repeat; width:91px; height:26px; line-height:26px; float:left;}
.type_jgcxmfl a, .type_jgcxmfr a{padding-left:8px;}
.type_jgcxmfr{background:url(../../images/chaxun/cx_jgfsm2.gif) no-repeat; width:91px; height:26px; line-height:26px; float:right;}
.type_jgcxmfl:hover{background:url(../../images/chaxun/cx_jgfsmhover.gif) no-repeat; width:91px; height:26px; line-height:26px; float:left;}
.type_jgcxmfl a:hover, .type_jgcxmfr a:hover{ color:#fff;}
.type_jgcxmfr:hover{background:url(../../images/chaxun/cx_jgfsm2hover.gif) no-repeat; width:91px; height:26px; line-height:26px; float:right;}
.type_jgcxmff p{font-size:12px;}
.type_jgcxmff{padding:10px; background:#f6f6f6; border:1px solid #e9e9e9; margin-top:15px;}
.jgcx_tck{position:absolute; width:407px; margin:130px 0 0 700px;}
.jgcx_tck h2{background:url(../../images/chaxun/cx_jgttkt.gif) no-repeat; height:32px; line-height:32px;}
.jgcx_tckm{background:url(../../images/chaxun/cx_jgttkm.gif) repeat-y; height:300px; overflow:auto;}
.jgcx_tckm p{line-height:25px; padding-left:15px; font-size:12px;}
.jgcx_tckf{background:url(../../images/chaxun/cx_jgttkf.gif) no-repeat; height:8px;}
.jgcx_tckmm{padding:6px 15px 0px 15px;}
.jgcx_tckmm a{ padding:5px 10px; float:left;white-space:nowrap;}
.jgcx_tckmm a:hover{background:#f9f8f8; color:#ff6602}
.price_m{background: #e2e2e2 none repeat scroll 0 0;height: 80px;line-height: 70px;}
.type_jgcxmm .pro_table{background: #f6f6f6 none repeat scroll 0 0;margin-bottom: 15px;padding: 8px;}
.mddgj_mt li{float:left;}
.normalCountry li{float:left;}
#countryList li{float:left;}
.mddgj_mt{height:28px; line-height:28px; background:#fce7d9; width:602px;}
.mddgj_mt ul{padding-left:15px;}
.mddgj_mt ul li{width:21px; float:left; text-align:center;}
.mddgj_mt ul li a{font-weight:bold; color:#ff6600; font-size:13px;}
.mddgj_mm{padding:0 10px; height:300px; overflow:auto;}
.mddgj_mm h2{background:url(../../../images/guojia_mjt.gif) scroll 10px 10px no-repeat; padding-left:30px; height:30px; line-height:30px; color:#393939; font-size:14px; border-bottom:1px dashed #e3e3e3;}
.mddgj_mm h3{background:url(../../../images/guojia_mjth.gif) scroll 10px 10px no-repeat; padding-left:30px; height:30px; line-height:30px; color:#ff6602; font-size:14px; border-bottom:1px dashed #e3e3e3;}
.mddgj_mm ul{padding:5px 0 0 10px; margin-bottom:0px;}
.mddgj_mm ul li{background:url(../../../images/guojia_mdian.gif) scroll 5px 12px no-repeat; padding-left:18px; height:26px; line-height:26px; width:120px; float:left;}
.mddgj_f{background:url(../../../images/guojia_f.gif) no-repeat; height:7px;}


.mysfctc{width:160px; border:1px solid #ccc; background:#fff; position:absolute;overflow:hidden; z-index:999999999;right:60px;display:none;}
.mysfctct{margin:10px 10px 0 10px; padding:0px 10px 10px 10px; border-bottom:1px solid #ccc;}
.mysfctct span a, .mysfctcm a{color:#393939;}
.mysfctct span a:hover{color:#ff6602;}
.mysfctcm{margin:10px 10px 0 10px; border-bottom:1px solid #ccc; padding-bottom:10px;}
.mysfctcm ul li{height:30px; line-height:30px; padding-left:20px;color: #000;}
.mysfctcm ul li:hover{background:#f5f5f5;}
.mysfctcf{margin:10px 10px 0 10px; padding-left:15px; padding-bottom:15px;}
.mysfctcf input{width:80px; height:25px; background:#f5f5f5; cursor:pointer; color:#393939;}
.header_top{width:1200px; margin:0 auto;}
.mySFC{width:90px; display:block; float:right;}
.mySFC img{float:right; padding-top:8px;}
.sfc_index_radio input{background:url(../../images/index-new/search_anniu1.gif) no-repeat; width:132px; height:27px; line-height:27px; margin-right:20px; padding-left:15px;}

.detailed_box, .export, .add_on, .footer{width:100%;}














